<div class="container_div">
    <div class="header_container">
      <h1 class="header">
        Looking to Penetrate the Market with Little Cost to Pay for Employee Resources?
      </h1>
      <p class="text">
        Frontlett effectively connects those who are highly skilled with <br /> those who need the services of a
        skilled workforce for a quarter of the price.
      </p>
    </div>
    <div class="button_group">
      <button class="btn btn-orange" routerLink="/register" routerLinkActive="active" >Register</button>
      <button class="btn btn-orange" routerLink="/login" routerLinkActive="active">Login</button>

   
    </div>
  </div>
