<div class="container">
  <h2>User registerstion</h2>
  <form #login ="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
      <label for="firstname">First Name:</label> <br />
      <input #name = "ngModel" required minlength="2" maxlength="7" type="text" name=" firstname" class="form-control" ngModel />
      <div *ngIf = "name.touched && name.invalid" class="alert alert-danger" >INVALID</div>
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="lastname">Last Name:</label> <br />
      <input type="text" name=" lastname" class="form-control"ngModel />
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="email">Email:</label> <br />
      <input type="text" name=" email" class="form-control"ngModel />
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="password">Password:</label> <br />
      <input type="text" name=" password" class="form-control"ngModel />
    </div>
    <pre></pre>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
