<div class="main-container">
  <div class="header_container"> </div>
    <main>
      <div class="form_container">
        <p class="header">Welcome Back</p>
        <p class="text">Login to your frontlett account</p>

        <div class="form">
          <form name="basic">
            <div class="input">
              <label for="">Email</label>
              <input type="text">
            </div>
            <div class="input">
              <label for="">Password</label>
              <input type="text">
            </div>
         
            <button class="button">Login</button>
          </form>
          <p class="footer_link">
            <span class="link"> Forgot Password? </span>
          </p>
          <p class="redirect">
            Don&apos;t Have an account?
            <span class="link"> Create Account </span>
          </p>
        </div>
      </div>
    </main>
 
</div>

<!-- ANGULAR SERVICES -->
<!-- <form #frm = "ngForm" (ngSubmit)="updateInfo(frm)">
    <div class="">
        <input type="text" name="location" value="" ngModel>
        <button type="submit" name="button" >Add info</button>
    </div>
</form>
<button type="button" name="button" (click)="getInfoFromService1()">
  click
</button>
<ul class = "list-group">
  <li *ngFor="let info of infoReceived1" class="list-group-info">
    {{ info }}
  </li>
</ul>

<button type="button" name="button" (click)="getInfoFromService2()">
    click
  </button>
  <ul class = "list-group">
    <li *ngFor="let info of infoReceived2" class="list-group-info">
      {{ info }}
    </li>
  </ul>

  <button type="button" name="button" (click)="getInfoFromService3()">
    click
  </button>
  <ul class = "list-group">
    <li *ngFor="let info of infoReceived3" class="list-group-info">
      {{ info }}
    </li>
  </ul>
   -->
