
   <div>
    <header>
      <h1>Create a Frontlett Account</h1>
    </header>

    <main>
      <div class="registerCards__holder">
        <div class="register__cards">
          <img src="../../assets/user.png" alt="user" />
          <h3>For Resources</h3>
          <p>Ready for your dream tech job? Create a Resources account on Frontlett. Its quick and easy! </p>
          <li>Exciting job offers</li>
          <li>Flexible working hours</li>
          <li>Job match & recommendations</li>
          <li>Career guidance & advice</li>
         <button class="btn btn-orange"> Resources Sign Up</button>
        </div>
        <div class="register__cards">
          <img src="../../assets/envelope.png" alt="company" />
          <h3>For Company</h3>
          <p>Looking to hire competent tect talents? We are here tp help. Create an employer account on Frontlett.</p>
          <li>Exciting job offers</li>
          <li>Flexible working hours</li>
          <li>Job match & recommendations</li>
          <li>Career guidance & advice</li>
        <button class="btn btn-orange">Company Sign Up</button>
        </div>
      </div>
    </main>
  </div>